   html, body {
    height: 100%;
    font-family: 'cominc sans ms'
   }
.wrapper{
min-height: 100%;
display: flex;
flex-direction: column;
}
   main {
       flex: 1 1 auto;
   }
   .responsif {
       width: 100%;
       max-width: 6000px;
       height: auto;
   }
   .fonttext{
    font-family: 'Poppins'
   }
.judul{
    
    padding-top: 10px;
}
    body::-webkit-scrollbar {
        display: none;
    }

    footer {
        background-color: #ffc107;
            color: #000;
            text-align: center;
            padding: 5px;
        }

    #popover-icon {
        cursor: pointer;
    }

    .col.card2 {
        
        width:52%;
    
    }

    #pph22card2 {
        width: auto;
    }

    .col.card1 {
        display: flex;
        width: 300px;

    }

    .col.card1-pem {
        
        width: 300px;

    }
    .col.card1-23 {
        
        width: 300px;

    }
        #card23 {
            display: flex;
            width: 100%;
        }
.col.note {
    width: 150%;
}

    @media only screen and (max-width: 600px) {
        #persenApi {
            width: 100%;
        }
        .col.card1 {
            display: flex;
            width: auto;
        }
      
        
        #pph22card2 {
            display: flex;
            width: 100%;
        }

        .col.col.card1-pem {
            display: flex;
            width: auto;
        }
        .col.col.card1-23 {
            display: flex;
            width: auto;
        }
                #card23 {
                    display: flex;
                    width: 100%;
                }
          .col.note {
              width: 380px;
          }
    }

   

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (max-width: 768px) {
        .col.card1 {
            
            width: auto;
        }

        

        #pph22card2 {
            display: flex;
            width: 200%;
        }

        .col.col.card1-pem {
            display: flex;
            width: auto;
        }
        .col.col.card1-23 {
            display: flex;
            width: auto;
        }
                #card23 {
                    display: flex;
                    width: 100%;
                }
        .col.note {
            width: 380px;
        }
        
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        #pph22card2 {
            width: 150%;
            justify-content: center;
        }
                #card23 {
                    display: flex;
                    width: 100%;
                }
    }

    @media only screen and (max-width: 991px) {
        .col.card1 {
            display: flex;
            width: auto;
        }

        #pph22card2 {
            display: flex;
            width: 200%;
        }

        .col.col.card1-pem {
            display: flex;
            width: auto;
        }
        .col.col.card1-23 {
            display: flex;
            width: 100%;
        }
        #card23{
            display: flex;
            width: 100%;
        }
        .col.note {
          width: 200%;
          }
    }